{% extends "main_home/base.html" %}
{% load static %}
{% block content %}
<div class="emptybar"></div>
<div class="basicbox">
    <div class="form-style-10 alimentcard mention mt-5">
        <h1>Mentions légales :</h1>
        <div class="section"><span>1</span>Images :</div>
        <div class="inner-wrap">
            <ul>
                <li><a href="https://www.freepik.com/home">Background Principal</a></li>
                <li><a href="https://www.freepik.com/home">PortFolio1</a></li>
                <li><a href="https://www.freepik.com/home">PortFolio2</a></li>
                <li><a href="https://www.freepik.com/home">PortFolio3</a></li>
                <li><a href="https://www.freepik.com/home">PortFolio4</a></li>
                <li><a href="https://www.freepik.com/home">PortFolio5</a></li>
                <li><a href="https://www.freepik.com/home">PortFolio6</a></li>
            </ul>
        </div>
        <div class="section"><span>2</span>Icones :</div>
        <div class="inner-wrap">
            <ul>
                <li><a href="https://fontawesome.com">Font Awesome</a></li>
            </ul>
        </div>
        <div class="section"><span>3</span>Langages utilisés:</div>
        <div class="inner-wrap">
            <ul>
                <li><a href="https://www.python.org">Python</a></li>
                <li><a href="https://fr.wikipedia.org/wiki/Feuilles_de_style_en_cascade">CSS</a></li>
                <li><a href="https://fr.wikipedia.org/wiki/Hypertext_Markup_Language">HTML</a></li>
                <li><a href="https://fr.wikipedia.org/wiki/JavaScript">JavaScript</a></li>
            </ul>
        </div>


        <div class="section"><span>4</span>Développement :</div>
        <div class="inner-wrap">
            <ul>
                <li><a href="https://www.python.org">Django</a></li>
                <li><a href="https://fr.wikipedia.org/wiki/Feuilles_de_style_en_cascade">BootStrap
                </a></li>
            </ul>
        </div>
        <div class="section"><span>5</span>Templates :</div>
        <div class="inner-wrap">
            <ul>
                <li><a href="https://startbootstrap.com/themes/creative/">Creative</a></li>
            </ul>
        </div>
        <div class="section"><span>6</span>Retour à l'accueil
        </div>
        <div class="inner-wrap text-center alimentcardbuttonbox">
            <div class="button-section mt-1"
                 onclick="window.location.href = '/home';">
                <input type="button" value="Accueil"/>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
