{% extends "main_home/base.html" %}
{% load static %}
{% block content %}
<section>
    <div class="bande">
        <img>
    </div>
</section>
<section class="bodybg mt-5">
    <div id="app" class=" cardcontainer">
        <div class="cardcontainerbox row d-flex justify-content-center">
            {% if not aliment_saveds %}
            <div class="text-center">
                <h2>Vous n'avez aucun aliment enregistré actuellement</h2>
                <div class="form-style-10 buttoninput button-section mt-2 text-center"
                     onclick="window.location.href =
                        '../';">
                    <input type="button" id="submithomelong" value="Commencer tout de suite !"/>
                    <input type="button" id="submithomecours" value="Commencer !"/>
                </div>
            </div>
            {% endif %}
            {% for aliment_saved in aliment_saveds %}
            <div class="rowsave">
                <form method="POST" action="{% url 'main_home-infosaved' %}">
                    {% csrf_token %}
                    <card data-image="{{ aliment_saved.urloriginal.url_img }}">
                        {% if aliment_saved.urloriginal.nutriscore == 'A'%}
                        <a slot="nutri" href="https://fr.openfoodfacts.org/nutriscore"
                           class="nutri nutria">
                            {{ aliment_saved.urloriginal.nutriscore }}
                        </a>
                        {% elif aliment_saved.urloriginal.nutriscore == 'B'%}
                        <a slot="nutri" href="https://fr.openfoodfacts.org/nutriscore"
                           class="nutri nutrib">
                            {{ aliment_saved.urloriginal.nutriscore }}
                        </a>
                        {% elif aliment_saved.urloriginal.nutriscore == 'C'%}
                        <a slot="nutri" href="https://fr.openfoodfacts.org/nutriscore"
                           class="nutri nutric">
                            {{ aliment_saved.urloriginal.nutriscore }}
                        </a>
                        {% elif aliment_saved.urloriginal.nutriscore == 'D'%}
                        <a slot="nutri" href="https://fr.openfoodfacts.org/nutriscore"
                           class="nutri nutrid">
                            {{ aliment_saved.urloriginal.nutriscore }}
                        </a>
                        {% elif aliment_saved.urloriginal.nutriscore == 'E'%}
                        <a slot="nutri" href="https://fr.openfoodfacts.org/nutriscore"
                           class="nutri nutrie">
                            {{ aliment_saved.urloriginal.nutriscore }}
                        </a>
                        {% endif %}
                        <h1 class="foodname" slot="header">{{ aliment_saved.urloriginal.name }}</h1>
                        <button class="btn savebtn" type="submit"
                                value="{{ aliment_saved.urloriginal.url }}"
                                slot="save" name="info"><i class="fas fa-info-circle"></i></button>
                        <button class="btn savebtn" type="submit"
                                formaction="{% url 'main_home-delete' aliment_saved.id %}"
                                value="{{ aliment_saved.id }}"
                                slot="save" name="delete"><i class="fa fa-trash"
                                                             aria-hidden="true"></i></i></button>

                    </card>
                </form>
                <i class="fas fa-arrow-right arrowright"></i>
                <form method="POST" action="{% url 'main_home-infosaved' %}">
                    {% csrf_token %}
                    <card data-image="{{ aliment_saved.urlsubstitute.url_img }}">
                        {% if aliment_saved.urlsubstitute.nutriscore == 'A'%}
                        <a slot="nutri" href="https://fr.openfoodfacts.org/nutriscore"
                           class="nutri nutria">
                            {{ aliment_saved.urlsubstitute.nutriscore }}
                        </a>
                        {% elif aliment_saved.urlsubstitute.nutriscore == 'B'%}
                        <a slot="nutri" href="https://fr.openfoodfacts.org/nutriscore"
                           class="nutri nutrib">
                            {{ aliment_saved.urlsubstitute.nutriscore }}
                        </a>
                        {% elif aliment_saved.urlsubstitute.nutriscore == 'C'%}
                        <a slot="nutri" href="https://fr.openfoodfacts.org/nutriscore"
                           class="nutri nutric">
                            {{ aliment_saved.urlsubstitute.nutriscore }}
                        </a>
                        {% elif aliment_saved.urlsubstitute.nutriscore == 'D'%}
                        <a slot="nutri" href="https://fr.openfoodfacts.org/nutriscore"
                           class="nutri nutrid">
                            {{ aliment_saved.urlsubstitute.nutriscore }}
                        </a>
                        {% elif aliment_saved.urlsubstitute.nutriscore == 'E'%}
                        <a slot="nutri" href="https://fr.openfoodfacts.org/nutriscore"
                           class="nutri nutrie">
                            {{ aliment_saved.urlsubstitute.nutriscore }}
                        </a>
                        {% endif %}
                        <h1 class="foodname" slot="header">{{ aliment_saved.urlsubstitute.name }}
                        </h1>
                        <button class="btn savebtn" type="submit"
                                value="{{ aliment_saved.urlsubstitute.url }}"
                                slot="save" name="info"><i class="fas fa-info-circle"></i></button>
                        <button class="btn savebtn" type="submit"
                                formaction="{% url 'main_home-delete' aliment_saved.id %}"
                                value="{{ aliment_saved.id }}"
                                slot="save" name="delete"><i class="fa fa-trash"
                                                             aria-hidden="true"></i></i></button>
                    </card>
                    print({{ aliment_saved.id }})
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-center">
    {% if is_paginated %}

            {% if page_obj.has_previous %}
            <a class="btn mb-4 btn-outline-warning" href="?page=1">First</a>
            <a class="btn mb-4 btn-outline-warning"
               href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a class="btn mb-4 btn-warning" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn mb-4 btn-outline-warning" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <a class="btn btn-outline-warning mb-4"
               href="?page={{ page_obj.next_page_number }}">Suivant</a>
            <a class="btn mb-4 btn-outline-warning"
               href="?page={{ page_obj.paginator.num_pages }}">Précédent</a>
            {% endif %}

            {% endif %}
        </div>
</section>
{% endblock content %}
