{% extends "main_home/base.html" %}
{% load static %}
{% block content %}
<section>
    <div class="bande">
        <img>
    </div>
</section>
<section class="bodybg mt-5">

    <div id="app" class="container cardcontainer">
        <div class="cardcontainerbox row d-flex justify-content-center">
            {% for food in foods %}
            <form method="POST" action="{% url 'main_home-confirmation' %}">
                {% csrf_token %}
                {% if food.img == 'default img' %}
                <card data-image="{% static 'img/cakeisalie.png' %}">
                {% else %}
                <card data-image="{{ food.img }}">
                {% endif %}
                    <a slot="nutri" href="https://fr.openfoodfacts.org/nutriscore"
                       class="nutri {{ food.nutriscore }}">{{food.nutriletter}}</a>
                    <h1 class="foodname" slot="header">{{ food.product_name_fr }}</h1>
                    {% if user.is_authenticated %}
                    <button class="btn savebtn" type="submit" formaction="{% url 'main_home-aliment' %}"
                            value="{{ food }}"
                            slot="save" name="info"><i class="fas fa-info-circle"></i></button>
                    <button class="btn savebtn" type="submit"
                            slot="save" name="save" value="{{ firstfood }}, {{ food }}"><i
                            class="far fa-save"></i></button>
                    {% else %}
                    <button class="btn savebtn savebtnsolo" type="submit"
                            formaction="{% url 'main_home-aliment' %}"
                            value="{{ food }}"
                            slot="save" name="info"><i class="fas fa-info-circle"></i></button>
                    {% endif %}
                </card>
            </form>
            {% endfor %}
            {% if user.is_authenticated %}

            {% else %}
                    <h1>Connectez vous pour pouvoir enregistrer vos choix !</h1>
            {% endif %}
        </div>
    </div>

</section>
{% endblock content %}
